.full-width-banner {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

.post {
    margin: 0;
    padding: 0;
    width: 100%;
}